.logo-img {
	height: 100px;
	width: 100px;
	margin-top: 100px;
	margin-left: 15%;
}
.name {
	margin-top: 120px;
	margin-bottom: 0px;
	margin-right: 10%;
}
.tag-line {
	margin-top: 5px;
	margin-right: 10%;
}
hr {
	color: #7d97ad;
	background-color: #7d97ad;
	width: 90%;
	height: 5px;
}
.randimg {
   display:block;
   margin:auto;
   width: 90%;
}
.latest-projects {
	margin-left: 10%;
	font-style: bold;
}
@media screen and (max-width: 2160px) {
}
@media screen and (max-width: 950px) {
	h1 {
		margin-top: 120px;
	}
}
@media screen and (max-width: 766px) {
	.logo-img {
		display: none !important;
	}
	.tag-line {
		margin-right: 6.8%;
		font-size: 20px;
	}
	.name {
		margin-right: 6.8%;
		margin-top: 50px;
		font-size: 30px;
	}
}
@media screen and (max-width: 275px) {
	.name {
		font-size: 24px;
	}
	.tag-line {
		font-size: 12px;
	}
}