.content {
	max-width: 1000px;
	display: block;
	margin: auto;
}
.logo-img {
	height: 100px;
	width: 100px;
	margin: 30px 0px 0px 15%;
}
.name {
	margin: 50px 10% 0px 0px;
}
.tag-line {
	margin: 5px 10% 0px 0px;
}
hr {
	display: block;
	color: #7d97ad;
	background-color: #7d97ad;
	height: 5px;
	width: 90%;
	max-width: 1000px;
}
.code-img {
   display: block;
   margin: auto;
   width: 90%;
   max-width: 1000px;
}
.latest-projects {
	font-size: 24px;
	margin: 0px 0px 10px 4%;
	font-weight: bold;
	text-align: left;
}
.project {
	margin: 0px 0px 30px 0px;
}
.project-title {
	font-size: 24px;
}
.project-img {
	margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
	.project {
		margin-left: 0%;
	}
	.logo-img {
		display: none !important;
	}
	.name {
		margin: 50px 6.8% 0px 0px;
	}
	.tag-line {
		margin-right: 6.8%;
	}
	.latest-projects {
		margin-left: 0px;
		text-align: center;
	}
}